.card {
  display: block;
  margin: 60px auto;
  max-width: 700px;
}
.card-body {
  padding: 20px;
}
h1 {
  font-size: 35px;
  margin: 0;
}
.temperature-container {
  align-items: center;
}
.current-temp {
  font-size: 80px;
  margin-right: 10px;
}
.current-temp-units {
  font-size: 15px;
  line-height: 12px;
}
.current-temp-units .active {
  color: rgb(0, 0, 0);
  cursor: default;
  text-decoration: none;
}
.todays-high-temp,
.todays-low-temp,
.todays-wind,
.todays-humidity {
  color: rgba(0, 0, 255, 0.6);
}
.todays-info {
  font-size: 13px;
  opacity: 0.6;
  margin-top: 30px;
}
.current-weather {
  text-align: center;
}
.weather-description:first-letter {
  text-transform: uppercase;
}
.forecast {
  text-align: center;
}
.forecast-day,
.forecast-low-temp {
  opacity: 0.6;
}
.forecast-high-temp,
.forecast-low-temp {
  color: rgba(0, 0, 255, 0.6);
  font-weight: bold;
}
.buttons {
  margin-top: 35px;
}
.form-control {
  text-align: center;
}
